@media screen and (max-width: 375px) {
        #blog_items_containers {
                display: grid;
                grid-template-columns: auto;
                border-style: solid;
                border-width: 3px;
                border-color: gray;
                border-radius: 10px;
                margin: 5vw;
                margin-bottom: 6vw;
                box-shadow: 10px 10px 10px 1px rgba(0.2, 0.2, 0.3, 0.4);
                margin-top: 12px;
                justify-content: center;
                align-items: center;
                column-gap: 8vw;
                padding-bottom: 2vw;
        }

        .post_in_menu {
                width: 100%;
        }

        #blog_items_containers a {
                width: 80vw;
                text-decoration: none;
                color: black;
                border: black 3px solid;
                border-radius: 4px;
                margin-top: 5vw;
        }


        .post_thumbnail {
                width: 100%;
        }

        #blog_items_containers h3 {
                display: flex;
                justify-content: center;
                font-size: 6vw;
                margin-bottom: 2vw;
        }

        .post_intro {
                width: 95%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                text-align: justify;
                color: gray;
                margin-bottom: 1vw;
                font-size: 4vw;


        }

        #blog_grid_links {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2vw;


        }

        .blog_link {
                display: flex;
                background-color: grey;
                color: white;
                font-size: 2vw;
                text-decoration: none;
                width: 3vw;
                height: 3vw;
                justify-content: center;
                text-align: center;
                align-items: center;
                margin-bottom: 1vw;
        }

}