@media screen and (max-width: 375px) {
#changelog_grid_links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4vw;
}

        .endpoint_link {
                background-color: gray;
                color: white;
                font-weight: bold;
                padding: 2vw;
                font-size:5vw;
                margin-bottom: 3vw;
                text-decoration: none;
        }
}