/**
        CSS File Written By Carlos Chacón
        
        Give style to the index on Small Mobile Devices
**/
@media screen and (max-width: 375px) {


        #try_example {
                font-family: "OpenSans-Bold";
                text-align: center;
                font-size: 7vw;
        }

        #json_response {
                align-self: center;
                margin: auto;
                width: 90%;
                background-color: #f7f7f7;
                color: black;
                /*! height: 40vh; */
                display: block;
                font-size: 2vw;
                border-radius: 10px;
        }

        div.submenu_button {
                border-radius: 16px;
                color: white;
                font-family: "OpenSans-Bold";
                width: 85%;
                align-self: center;
                font-size: 3.5vw;
                text-align: center;
                background-color: black;

        }

        div.change_submenu_buttons {
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                justify-items: center;
        }

        div.submenu_button {
                border-radius: 16px;
                color: white;
                font-family: "OpenSans-Bold";
                width: 40vw;
                align-self: center;
                font-size: 5vw;
                text-align: center;
                background-color: black;
                height: 10vw;
                justify-content: center;
                display: flex;
                align-items: center;
                margin-top: 3vw;
        }

        div.change_submenu_buttons {
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                justify-items: center;
        }
                #loading_bar{
                display: flex;
                margin-top: 15vw;
                 margin-bottom: 15vw;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
        }
}