/*
Global Blog styles
*/
#menu_button_1 {
        background-color: #b465b6;
}

#menu_button_2 {
        background-color: #f01f43;
}

#menu_button_3 {
        background-color: #7ca92e;
}

#menu_button_4 {
        background-color: #393453;
}

.internal_button {
        cursor: pointer;
}

.footer_link {
        color: blue;
}

* {
        margin: 0;
}