/**
        CSS File Written By Carlos Chacón
        
        Give Style to the Global elements in the Not Found Page
**/
.internal_button {
        cursor: pointer;
}

.footer_link {
        color: blue;
}

* {
        margin: 0;
}