/**
        CSS File Written By Carlos Chacón
        
        Give style to the index on Desktop Devices
**/

@media screen and (min-width: 1024px) {

        #try_example {
                font-family: "OpenSans-Bold";
                text-align: center;
                font-size: 80px;
        }

        #json_response {
                align-self: center;
                margin: auto;
                width: 70%;
                background-color: #f7f7f7;
                color: black;
                /*! height: 40vh; */
                display: block;
                font-size: 20px;
                border-radius: 10px;
        }

        div.submenu_button {
                border-radius: 16px;
                color: white;
                font-family: "OpenSans-Bold";
                width: 11vw;
                align-self: center;
                font-size: 1.75vw;
                text-align: center;
                background-color: black;
                height: 3vw;
        }

        #iframe_card_container {
                display: block;
                border-style: none;
                border-radius: 16px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 12px;
                width: 95vw;
                height: 50vw;
        }

        div.change_submenu_buttons {
                display: flex;
                margin-top: 4vh;
                gap: 19px;
                justify-content: center;
                align-items: center;
        }
                        #loading_bar{
                display: flex;
                margin-top: 5vw;
                 margin-bottom: 5vw;
                width: 30%;
                margin-left: auto;
                margin-right: auto;
        }
}