/**
        CSS File Written By Carlos Chacón
        
        Give Style to the Blog Grid on Mobile Devices
**/
@media screen and (min-width: 376px) and (max-width: 640px) {
        #blog_post_containers {
                display: grid;
                border-style: solid;
                border-width: 3px;
                border-color: gray;
                border-radius: 10px;
                margin-left: 5vw;
                margin-right: 5vw;
                ;
                margin-bottom: 10vw;
                box-shadow: 10px 10px 10px 1px rgba(0.2, 0.2, 0.3, 0.4);
                margin-top: 12px;
                justify-content: center;
                gap: 1vw;
        }

        #blog_post_containers p,
        ul {
                width: 80vw;
                font-size: 3.5vw;
                font-family: "OpenSans-Regular";

        }

        #blog_post_containers p {
                line-height: 5.5vw;
                margin-left: 5vw;
                margin-bottom: 1vw;
        }

        #blog_post_containers ul {
                list-style-type: disclosure-closed
        }

        #blog_post_containers li {
                margin-top: 7px;
        }

        .header_image {
                display: block;
                align-self: center;
                padding-top: 2vw;
                margin-left: auto;
                margin-right: auto;
                width: 80vw;

        }

        .blog_entry_title {
                display: block;
                margin: auto;
                width: fit-content;
                font-size: 6vw;
                font-family: "OpenSans-Bold";
                text-align: center;
        }

        .blog_subtitle {
                display: block;
                margin: 2vw;
                width: fit-content;
                font-size: 4vw;
                font-family: "OpenSans-Bold";
        }

        #blog_post_containers:last-child {
                padding-bottom: 2vw;
        }

        #blog_items_containers {
                display: grid;
                grid-template-columns: auto;
                border-style: solid;
                border-width: 3px;
                border-color: gray;
                border-radius: 10px;
                margin: 5vw;
                margin-bottom: 6vw;
                box-shadow: 10px 10px 10px 1px rgba(0.2, 0.2, 0.3, 0.4);
                margin-top: 12px;
                justify-content: center;
                align-items: center;
                column-gap: 8vw;
                padding-bottom: 2vw;
        }

        .post_in_menu {
                width: 100%;
        }

        #blog_items_containers a {
                width: 75vw;
                text-decoration: none;
                color: black;
                border: black 3px solid;
                border-radius: 4px;
                margin-top: 5vw;
        }


        .post_thumbnail {
                width: 100%;
        }

        #blog_items_containers h3 {
                display: flex;
                justify-content: center;
                font-size: 5vw;
                margin-bottom: 2vw;
        }

        .post_intro {
                width: 95%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                text-align: justify;
                color: gray;
                margin-bottom: 1vw;
                font-size: 4vw;


        }
}