@media screen and (min-width: 376px) and (max-width: 640px) {
        * {
                margin: 0;
        }

        #episodes_grid_container {
                display: grid;
                grid-template-columns: auto;
                border-style: solid;
                border-width: 3px;
                border-color: gray;
                border-radius: 10px;
                margin: 25px;
                box-shadow: 10px 10px 10px 1px rgba(0.2, 0.2, 0.3, 0.4);

                margin-top: 12px;
                justify-items: center;
        }

        .episode_image {
                width: 70vw;
                border-radius: 4px;
        }

        .episode_card_link {
                width: 70vw;
                border-width: 3px;
                border-style: solid;
                border-radius: 8px;
                text-decoration: none;
                color: black;
                margin-top: 1vh;
                margin-bottom: 1vh;
                box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.4);

        }

        .episode_card_link:hover {
                width: 70vw;
                border-width: 3px;
                border-style: solid;
                border-radius: 8px;
                text-decoration: none;
                color: black;
                margin-top: 1vh;
                margin-bottom: 1vh;
                box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.6);
        }

        .episode_card {
                width: 100%;
        }

        .episode_card p {
                margin-top: 1.5vw;
                font-family: "OpenSans-Regular";
                font-size: 3.5vw;

        }

        .episode_name {
                margin-left: 1vw;
        }

        .episode_number {
                margin-left: 1vw;
        }

        .episode_release {
                position: relative;
                width: fit-content;
                margin-left: auto;
                margin-top: 10vh;
                margin-bottom: 1vh;
                margin-right: 1vw;
        }

        .episode_description_text {
                height: 30vw;
                margin-left: 1vw;
        }

        .episode_status {
                margin-left: 1vw;
                height: 5.4vw;
        }

        div.submenu_button {
                border-radius: 16px;
                color: white;
                font-family: "OpenSans-Bold";
                width: 40vw;
                align-self: center;
                font-size: 5vw;
                text-align: center;
                background-color: black;
                height: 10vw;
                justify-content: center;
                display: flex;
                align-items: center;
        }

        div.change_submenu_buttons {
                display: grid;
                grid-auto-columns: auto auto;
                margin-top: 5vh;
                gap: 3vw;
                justify-content: center;
                align-items: center;
        }

        .episode_description {
                margin-top: 5.5vw;
        }
}