<!doctype html>
<html>

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/global/global_not_found_styles.css?v=1.1">
        <link rel="stylesheet" href="/styles/global/global_website_fonts.css?v=1.1">
        <link rel="stylesheet" href="/styles/desktop/desktop_not_found_styles.css?v=1.1">
        <link rel="stylesheet" href="/styles/desktop/global_desktop_styles.css?v=1.2">
        <link rel="stylesheet" href="/styles/tablet/global_tablet_styles.css?v=1.2">
        <link rel="stylesheet" href="/styles/tablet/tablet_not_found_styles.css?v=1.1">
        <link rel="stylesheet" href="/styles/mobile/global_mobile_styles.css?v=1.2">
        <link rel="stylesheet" href="/styles/mobile/mobile_not_found_styles.css?v=1.1">
        <link rel="stylesheet" href="/styles/small_mobiles/global_small_mobiles_styles.css?v=1.2">
        <link rel="stylesheet" href="/styles/small_mobiles/small_mobile_not_found.styles.css?v=1.1">
        <script src="./javascript/main.js"></script>
        <title>
                South Park API (Develop Version)
        </title>
        <nav class="navegation_menu">
                <a href="/" class="menu_logo">
                        <img id="logo" src="/img/website/logo.png" alt="logo">
                </a>
                <a href="#" class="menu_item">About</a>
                <a href="/api/redoc" class="menu_item">Docs</a>
                <a href="#" class="menu_item">Status</a>
        </nav>
</head>

<body>
        <div>
                <div id="Not_Found_Block" class="section_grid_container">
                        {{image_404 | safe}}
                        <p class="Subtitle_404">Oh my God you kill this website</p>
                        <p class="Subtitle_404">You bastard</p>
                        <p class="Index_Header">Return to the website: </p>
                        <ul>
                                <li>
                                        <a href="/">&#8594; Index</a>
                                </li>
                                <li>
                                        <a href="/blog/1">&#8594; Dev Blog</a>
                                </li>
                        </ul>
                </div>
        </div>

</body>
<footer>
        <div id="footer_what_is_this">
                <h1>What is this?</h1>
                <p>
                        his project is a RESTful API made with FastAPI connected to a database that contains a complete
                        collection of information about the TV Show South Park
                </p>
        </div>
        {{footer | safe}}
</footer>

</html>