<html>

<head>
        <script src="/javascript/iframe_content.js"></script>
        <link rel="stylesheet" href="/styles/global/global_website_fonts.css?v=1.1">
        <link rel="stylesheet" href="/styles/desktop/index_iframe_elements/desktop_albums_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/desktop/index_iframe_elements/desktop_songs_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/tablet/index_iframe_elements/tablet_albums_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/tablet/index_iframe_elements/tablet_songs_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/mobile/index_iframe_elements/mobile_songs_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/mobile/index_iframe_elements/mobile_albums_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/small_mobiles/index_iframe_elements/small_mobile_songs_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/small_mobiles/index_iframe_elements/small_mobile_albums_iframe.css?v=1.1">
</head>
<div id="albums_grid_container" class="section_grid_container">

        <div class="album_card">
                <a href="/api/albums/1" target="blanck" class="album_card_link">
                        <img class="album_image" src="/img/albums/covers/Chef_Aid_The_South_Park_Album.webp"
                                alt="Cover">
                        <p class="album_name">
                                <b>Chef Aid: The South Park Album</b>
                        </p>
                        <p class="album_release">
                                Release Date: 1998-12-08
                        </p>
                </a>


                <a href="https://music.youtube.com/playlist?list=OLAK5uy_kjD121b8XN2_RslyLkocpwY0yS6e85W1Y&si=wPplSvRUAbq8Fuot"
                        target="blanck" class="album_play_button">
                        <div>
                                Play ▶
                        </div>
                </a>

        </div>

        <div class="album_card">
                <a href="/api/albums/2" target="blanck" class="album_card_link">
                        <img class="album_image" src="/img/albums/covers/South_Park_Bigger_Longer_and_Uncut.webp"
                                alt="Cover">
                        <p class="album_name">
                                <b>South Park: Bigger, Longer & Uncut (Soundtrack)</b>
                        </p>
                        <p class="album_release">
                                Release Date: 1999-06-22
                        </p>
                </a>


                <div class="album_not_available_button">
                        Not Available
                </div>

        </div>

        <div class="album_card">
                <a href="/api/albums/3" target="blanck" class="album_card_link">
                        <img class="album_image" src="/img/albums/covers/Mr_Hankey's_Christmas_Classics.webp"
                                alt="Cover">
                        <p class="album_name">
                                <b>Mr. Hankey's Christmas Classics</b>
                        </p>
                        <p class="album_release">
                                Release Date: 1999-11-23
                        </p>
                </a>


                <a href="https://music.youtube.com/playlist?list=OLAK5uy_kFa2oPc-dltGXk5jma5W7rvctxIu_zoEo&si=GLXgEterxWJsMHKa"
                        target="blanck" class="album_play_button">
                        <div>
                                Play ▶
                        </div>
                </a>

        </div>

        <div class="album_card">
                <a href="/api/albums/4" target="blanck" class="album_card_link">
                        <img class="album_image" src="/img/albums/covers/Timmy_and_the_Lords_of_the_Underworld.webp"
                                alt="Cover">
                        <p class="album_name">
                                <b>Timmy & the Lords of the Underworld</b>
                        </p>
                        <p class="album_release">
                                Release Date: 2000-09-05
                        </p>
                </a>


                <div class="album_not_available_button">
                        Not Available
                </div>

        </div>

        <div class="album_card">
                <a href="/api/albums/5" target="blanck" class="album_card_link">
                        <img class="album_image" src="/img/albums/covers/San_Diego.webp" alt="Cover">
                        <p class="album_name">
                                <b>San Diego</b>
                        </p>
                        <p class="album_release">
                                Release Date: 2012-08-21
                        </p>
                </a>


                <a href="https://music.youtube.com/watch?v=9VPxmXPFOvY&si=lwjsSjC8P2hPJFf1" target="blanck"
                        class="album_play_button">
                        <div>
                                Play ▶
                        </div>
                </a>

        </div>

        <div class="album_card">
                <a href="/api/albums/6" target="blanck" class="album_card_link">
                        <img class="album_image" src="/img/albums/covers/South_Park_25th_Aniversary_Concert.webp"
                                alt="Cover">
                        <p class="album_name">
                                <b>South Park The 25th Anniversary Concert</b>
                        </p>
                        <p class="album_release">
                                Release Date: 2022-09-25
                        </p>
                </a>


                <a href="https://music.youtube.com/playlist?list=OLAK5uy_k-XClxCE8I4WTQ97MNO_t652ccER6d958&si=bgU0FHNAR_x9yiTV"
                        target="blanck" class="album_play_button">
                        <div>
                                Play ▶
                        </div>
                </a>

        </div>

</div>

</html>