<html>

<head>
        <script src="/javascript/iframe_content.js"></script>
        <link rel="stylesheet" href="/styles/global/global_website_fonts.css?v=1.1">
        <link rel="stylesheet" href="/styles/desktop/index_iframe_elements/desktop_alter_ego_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/desktop/index_iframe_elements/desktop_characters_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/tablet/index_iframe_elements/tablet_alter_egos_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/tablet/index_iframe_elements/tablet_characters_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/mobile/index_iframe_elements/mobile_alter_ego_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/mobile/index_iframe_elements/mobile_characters_iframe.css?v=1.1">
        <link rel="stylesheet"
                href="/styles/small_mobiles/index_iframe_elements/small_mobile_alter_egos_iframe.css?v=1.1">
        <link rel="stylesheet"
                href="/styles/small_mobiles/index_iframe_elements/small_mobile_characters_iframe.css?v=1.1">
</head>
<div id="alter_egos_grid_container" class="section_grid_container">

        <div class="character_and_alterego_grid">

                <a href="/api/characters/4" target="blanck" class="character_card_link">
                        <div class="character_card">
                                <div class="character_background">
                                        <img class="character_image" src="/img/characters/show/Stan_Marsh.png"
                                                alt="Avatar">
                                </div>
                                <p class="character_name">
                                        <b>Stanley "Stan" Marsh</b>
                                        <b>age: 10</b>
                                </p>
                                <p class="character_description">Birthday: October 19th</p>
                                <p class="character_description">Debut: Cartman Gets an Anal Probe</p>
                        </div>
                </a>


                <div class="alter_egos_container">
                        <div class="alter_ego_container">
                                <a href="/api/characters/4/alteregos/1" target="blanck" class="alter_ego_link">
                                        <img src="/img/alteregos/phone_destroyer/Toolshed_PhoneDestroyer.png" />
                                        <p class="alter_ego_name">
                                                Toolshed
                                        </p>
                                </a>
                        </div>

                        <div class="alter_ego_container">
                                <a href="/api/characters/4/alteregos/3" target="blanck" class="alter_ego_link">
                                        <img
                                                src="/img/alteregos/phone_destroyer/Stan_Of_Many_Moons_PhoneDestroyer.png" />
                                        <p class="alter_ego_name">
                                                Stan of Many Moons
                                        </p>
                                </a>
                        </div>

                        <div class="alter_ego_container">
                                <a href="/api/characters/4/alteregos/2" target="blanck" class="alter_ego_link">
                                        <img src="/img/alteregos/phone_destroyer/Stan_MashWalker_PhoneDestroyer.png" />
                                        <p class="alter_ego_name">
                                                Stan Marshwalker
                                        </p>
                                </a>
                        </div>


                </div>
        </div>

        <div class="character_and_alterego_grid">

                <a href="/api/characters/58" target="blanck" class="character_card_link">
                        <div class="character_card">
                                <div class="character_background">
                                        <img class="character_image" src="/img/characters/show/Craig_Tucker.png"
                                                alt="Avatar">
                                </div>
                                <p class="character_name">
                                        <b>Craig Tucker</b>
                                        <b>age: 10</b>
                                </p>
                                <p class="character_description">Birthday: Octuber 23rd</p>
                                <p class="character_description">Debut: Mr. Hankey, the Christmas Poo</p>
                        </div>
                </a>


                <div class="alter_egos_container">
                        <div class="alter_ego_container">
                                <a href="/api/characters/58/alteregos/1" target="blanck" class="alter_ego_link">
                                        <img src="/img/alteregos/phone_destroyer/Super_Craig.png" />
                                        <p class="alter_ego_name">
                                                Super Craig
                                        </p>
                                </a>
                        </div>

                        <div class="alter_ego_container">
                                <a href="/api/characters/58/alteregos/5" target="blanck" class="alter_ego_link">
                                        <img src="/img/alteregos/phone_destroyer/Incan_Craig.png" />
                                        <p class="alter_ego_name">
                                                Incan Craig
                                        </p>
                                </a>
                        </div>

                        <div class="alter_ego_container">
                                <a href="/api/characters/58/alteregos/2" target="blanck" class="alter_ego_link">
                                        <img src="/img/alteregos/phone_destroyer/Dark_Mage_Craig.png" />
                                        <p class="alter_ego_name">
                                                Dark Mage Craig
                                        </p>
                                </a>
                        </div>


                </div>
        </div>

        <div class="character_and_alterego_grid">

                <a href="/api/characters/42" target="blanck" class="character_card_link">
                        <div class="character_card">
                                <div class="character_background">
                                        <img class="character_image" src="/img/characters/show/Butters_Stotch.png"
                                                alt="Avatar">
                                </div>
                                <p class="character_name">
                                        <b>Leopold "Butters" Stotch</b>
                                        <b>age: 9</b>
                                </p>
                                <p class="character_description">Birthday: September 11th</p>
                                <p class="character_description">Debut: Clubhouses</p>
                        </div>
                </a>


                <div class="alter_egos_container">
                        <div class="alter_ego_container">
                                <a href="/api/characters/42/alteregos/5" target="blanck" class="alter_ego_link">
                                        <img src="/img/alteregos/phone_destroyer/Profesor_Chaos_PhoneDestroyer.png" />
                                        <p class="alter_ego_name">
                                                Professor Chaos
                                        </p>
                                </a>
                        </div>

                        <div class="alter_ego_container">
                                <a href="/api/characters/42/alteregos/4" target="blanck" class="alter_ego_link">
                                        <img src="/img/alteregos/phone_destroyer/Paladin_Butters_PhoneDestroyer.png" />
                                        <p class="alter_ego_name">
                                                Paladin Butters
                                        </p>
                                </a>
                        </div>

                        <div class="alter_ego_container">
                                <a href="/api/characters/42/alteregos/2" target="blanck" class="alter_ego_link">
                                        <img src="/img/alteregos/phone_destroyer/Deckhand_Butters_PhoneDestroyer.png" />
                                        <p class="alter_ego_name">
                                                Deckhand Butters
                                        </p>
                                </a>
                        </div>


                </div>
        </div>

</div>

</html>