<html>

<head>
        <script src="/javascript/iframe_content.js"></script>
        <link rel="stylesheet" href="/styles/global/global_website_fonts.css">
        <link rel="stylesheet" href="/styles/desktop/index_iframe_elements/desktop_alter_ego_iframe.css">
        <link rel="stylesheet" href="/styles/desktop/index_iframe_elements/desktop_characters_iframe.css">
        <link rel="stylesheet" href="/styles/tablet/tablet_index_styles.css">
        <link rel="stylesheet" href="/styles/mobile/index_iframe_elements/mobile_alter_ego_iframe.css">
        <link rel="stylesheet" href="/styles/mobile/index_iframe_elements/mobile_characters_iframe.css">
        <link rel="stylesheet" href="/styles/small_mobiles/index_iframe_elements/small_mobile_alter_egos_iframe.css">
        <link rel="stylesheet" href="/styles/small_mobiles/index_iframe_elements/small_mobile_characters_iframe.css">
</head>
<div id="alter_egos_grid_container" class="section_grid_container">
        {{ alter_ego_cards | safe }}
</div>

</html>