<!doctype html>
<html>

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="{{articule_title_in_social_media}}">
        <meta property="og:description" content="{{articule_description_in_social_media}}">
        <meta property="og:image" content="{{image_in_social_media}}">
        <meta property="og:url" content="{{url_in_social_media}}">
        <meta property="og:type" content="article">
        <meta property="og:site_name" content="South Park API">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{articule_title_in_social_media}}">
        <meta name="twitter:description" content="{{articule_description_in_social_media}}">
        <meta name="twitter:image" content="{{image_in_social_media}}">
        <meta name="twitter:site" content="@ChaconMoon">
        <meta name="twitter:url" content="{{url_in_social_media}}">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/global/global_blog_styles.css">
        <link rel="stylesheet" href="/styles/global/global_website_fonts.css">
        <link rel="stylesheet" href="/styles/desktop/desktop_post_styles.css">
        <link rel="stylesheet" href="/styles/desktop/global_desktop_styles.css">
        <link rel="stylesheet" href="/styles/tablet/global_tablet_styles.css">
        <link rel="stylesheet" href="/styles/tablet/tablet_post_styles.css">
        <link rel="stylesheet" href="/styles/mobile/mobile_post_styles.css">
        <link rel="stylesheet" href="/styles/mobile/global_mobile_styles.css">
        <link rel="stylesheet" href="/styles/small_mobiles/global_small_mobiles_styles.css">
        <link rel="stylesheet" href="/styles/small_mobiles/small_mobile_post_styles.css">
        <script src="./javascript/main.js"></script>
        <title>
                South Park API (Develop Version)
        </title>
        <nav class="navegation_menu">
                <a href="/" class="menu_logo">
                        <img id="logo" src="/img/website/logo.png" alt="logo">
                </a>
                <a href="#" class="menu_item">About</a>
                <a href="/api/redoc" class="menu_item">Docs</a>
                <a href="#" class="menu_item">Status</a>
        </nav>
</head>

<body>
        <h1 class="main_title">
                A RESTful API of the universe of South Park
        </h1>
        <h2 class="developer">
                This website is: {{base_url}}
        </h2>
        <div class="web_menu">
                <a class="menu_link" href="https://github.com/ChaconMoon/API-South-Park">
                        <div class="menu_button internal_button" id="menu_button_1">GitHub</div>
                </a>
                <a class="menu_link" href="/blog/1">
                        <div class="menu_button internal_button" id="menu_button_2">Dev Blog</div>
                </a>
                <a class="menu_link">
                        <div class="menu_button internal_button" id="menu_button_3">Quickstart</div>
                </a>
                <a class="menu_link">
                        <div class="menu_button internal_button" id="menu_button_4">Changelog</div>
                </a>
        </div>
        <div>
                <div id="blog_post_containers" class="section_grid_container">
                        {{ blog_item | safe }}
                </div>
        </div>

</body>
<footer>
        <div id="footer_what_is_this">
                <h1>What is this?</h1>
                <p>
                        his project is a RESTful API made with FastAPI connected to a database that contains a complete
                        collection of information about the TV Show South Park
                </p>
        </div>
        <div id="licence">
                <h1>Licence</h1>
                <p>
                        This API was created by Carlos Chacón <a href="https://github.com/ChaconMoon"
                                class="footer_link">[https://github.com/ChaconMoon]</a> under a GPL 3.0
                        license
                        <a href="https://www.gnu.org/licenses/gpl-3.0.html"
                                class="footer_link">[https://www.gnu.org/licenses/gpl-3.0.html]</a>.

                        All data for the API has been obtained directly from the website: <a
                                href="https://southpark.fandom.com"
                                class="footer_link">[https://southpark.fandom.com]></a>
                        under a CC BY-SA license <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.es"
                                class="footer_link">[https://creativecommons.org/licenses/by-sa/4.0/deed.es]</a>.
                        Therefore,
                        this API can be forked, modified, and distributed as long as the authorship of both the data and
                        the API is properly attributed.
                        The characters, episodes, and the South Park brand are owned by Viacom Inc. and South Park
                        Digital Studios.
                </p>
        </div>
</footer>

</html>