<html>

<head>
        <script src="/javascript/iframe_content.js"></script>
        <link rel="stylesheet" href="/styles/global/global_website_fonts.css?v=1.1">
        <link rel="stylesheet" href="/styles/desktop/index_iframe_elements/desktop_characters_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/tablet/index_iframe_elements/tablet_characters_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/mobile/index_iframe_elements/mobile_characters_iframe.css?v=1.1">
        <link rel="stylesheet"
                href="/styles/small_mobiles/index_iframe_elements/small_mobile_characters_iframe.css?v=1.1">
</head>
<div id="character_grid_container" class="section_grid_container">

        <a href="/api/characters/4" target="blanck" class="character_card_link">
                <div class="character_card">
                        <div class="character_background">
                                <img class="character_image" src="/img/characters/show/Stan_Marsh.png" alt="Avatar">
                        </div>
                        <p class="character_name">
                                <b>Stanley "Stan" Marsh</b>
                                <b>age: 10</b>
                        </p>
                        <p class="character_description">Birthday: October 19th</p>
                        <p class="character_description">Debut: Cartman Gets an Anal Probe</p>
                </div>
        </a>


        <a href="/api/characters/3" target="blanck" class="character_card_link">
                <div class="character_card">
                        <div class="character_background">
                                <img class="character_image" src="/img/characters/show/Kyle_Broflovski.png"
                                        alt="Avatar">
                        </div>
                        <p class="character_name">
                                <b>Kyle Broflovski</b>
                                <b>age: 10</b>
                        </p>
                        <p class="character_description">Birthday: May 26th</p>
                        <p class="character_description">Debut: Cartman Gets an Anal Probe</p>
                </div>
        </a>


        <a href="/api/characters/2" target="blanck" class="character_card_link">
                <div class="character_card">
                        <div class="character_background">
                                <img class="character_image" src="/img/characters/show/Eric_Cartman.png" alt="Avatar">
                        </div>
                        <p class="character_name">
                                <b>Eric Theodore Cartman</b>
                                <b>age: 10</b>
                        </p>
                        <p class="character_description">Birthday: July 1st</p>
                        <p class="character_description">Debut: Cartman Gets an Anal Probe</p>
                </div>
        </a>


        <a href="/api/characters/1" target="blanck" class="character_card_link">
                <div class="character_card">
                        <div class="character_background">
                                <img class="character_image" src="/img/characters/show/Kenny_McCormick.png"
                                        alt="Avatar">
                        </div>
                        <p class="character_name">
                                <b>Kenneth "Kenny" McCormick</b>
                                <b>age: 9</b>
                        </p>
                        <p class="character_description">Birthday: March 22nd</p>
                        <p class="character_description">Debut: Cartman Gets an Anal Probe</p>
                </div>
        </a>


        <a href="/api/characters/58" target="blanck" class="character_card_link">
                <div class="character_card">
                        <div class="character_background">
                                <img class="character_image" src="/img/characters/show/Craig_Tucker.png" alt="Avatar">
                        </div>
                        <p class="character_name">
                                <b>Craig Tucker</b>
                                <b>age: 10</b>
                        </p>
                        <p class="character_description">Birthday: Octuber 23rd</p>
                        <p class="character_description">Debut: Mr. Hankey, the Christmas Poo</p>
                </div>
        </a>


        <a href="/api/characters/52" target="blanck" class="character_card_link">
                <div class="character_card">
                        <div class="character_background">
                                <img class="character_image" src="/img/characters/show/Tweek_Tweak.png" alt="Avatar">
                        </div>
                        <p class="character_name">
                                <b>Tweek Tweak</b>
                                <b>age: 10</b>
                        </p>
                        <p class="character_description">Birthday: Unknown</p>
                        <p class="character_description">Debut: Gnomes</p>
                </div>
        </a>


        <a href="/api/characters/99" target="blanck" class="character_card_link">
                <div class="character_card">
                        <div class="character_background">
                                <img class="character_image" src="/img/characters/show/Clyde_Donovan.png" alt="Avatar">
                        </div>
                        <p class="character_name">
                                <b>Clyde Donovan</b>
                                <b>age: 10</b>
                        </p>
                        <p class="character_description">Birthday: April 10th</p>
                        <p class="character_description">Debut: Weight Gain 4000</p>
                </div>
        </a>


        <a href="/api/characters/78" target="blanck" class="character_card_link">
                <div class="character_card">
                        <div class="character_background">
                                <img class="character_image" src="/img/characters/show/Tolkien_Black.png" alt="Avatar">
                        </div>
                        <p class="character_name">
                                <b>Tolkien Black</b>
                                <b>age: 10</b>
                        </p>
                        <p class="character_description">Birthday: Unknown</p>
                        <p class="character_description">Debut: Tweek Vs. Craig</p>
                </div>
        </a>


        <a href="/api/characters/42" target="blanck" class="character_card_link">
                <div class="character_card">
                        <div class="character_background">
                                <img class="character_image" src="/img/characters/show/Butters_Stotch.png" alt="Avatar">
                        </div>
                        <p class="character_name">
                                <b>Leopold "Butters" Stotch</b>
                                <b>age: 9</b>
                        </p>
                        <p class="character_description">Birthday: September 11th</p>
                        <p class="character_description">Debut: Clubhouses</p>
                </div>
        </a>


        <a href="/api/characters/382" target="blanck" class="character_card_link">
                <div class="character_card">
                        <div class="character_background">
                                <img class="character_image" src="/img/characters/show/Bradley.png" alt="Avatar">
                        </div>
                        <p class="character_name">
                                <b>Bradley</b>
                                <b>age: Unknown</b>
                        </p>
                        <p class="character_description">Birthday: Unknown</p>
                        <p class="character_description">Debut: Cartman Sucks</p>
                </div>
        </a>


        <a href="/api/characters/141" target="blanck" class="character_card_link">
                <div class="character_card">
                        <div class="character_background">
                                <img class="character_image" src="/img/characters/show/Scott_Malkinson.png"
                                        alt="Avatar">
                        </div>
                        <p class="character_name">
                                <b>Scott Malkinson</b>
                                <b>age: 10</b>
                        </p>
                        <p class="character_description">Birthday: Unknown</p>
                        <p class="character_description">Debut: The Jeffersons</p>
                </div>
        </a>


        <a href="/api/characters/107" target="blanck" class="character_card_link">
                <div class="character_card">
                        <div class="character_background">
                                <img class="character_image" src="/img/characters/show/Sophie_Gray.png" alt="Avatar">
                        </div>
                        <p class="character_name">
                                <b>Sophie Gray</b>
                                <b>age: 10</b>
                        </p>
                        <p class="character_description">Birthday: Unknown</p>
                        <p class="character_description">Debut: Basic Cable</p>
                </div>
        </a>


</div>

</html>