<html>

<head>
        <script src="/javascript/iframe_content.js"></script>
        <link rel="stylesheet" href="/styles/global/global_website_fonts.css?v=1.1">
        <link rel="stylesheet" href="/styles/desktop/index_iframe_elements/desktop_episodes_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/tablet/index_iframe_elements/tablet_episodes_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/mobile/index_iframe_elements/mobile_episodes_iframe.css?v=1.1">
        <link rel="stylesheet"
                href="/styles/small_mobiles/index_iframe_elements/small_mobile_episodes_iframe.css?v=1.1">
</head>
<div id="episodes_grid_container" class="section_grid_container">

        <a href="/api/episodes/1" target="blanck" class="episode_card_link">
                <div class="episode_card">
                        <img class="episode_image" src="/img/episodes/1.jpg" alt="Avatar">
                        <p class="episode_number">
                                <b>Episode: 1</b>
                        </p>
                        <p class="episode_name">
                                <b>Name: Cartman Gets an Anal Probe</b>
                        </p>
                        <div class="episode_description">
                                <p class="episode_description_text">
                                        <b>While the boys are waiting for the school bus, Cartman explains the odd
                                                nightmare he had the previous night involving alien visitors.</b>
                                </p>
                                <p class="episode_status">STATUS: AVALIBLE ON WEBSITE</p>
                                <p class="episode_release">1997-08-13</p>
                        </div>
                </div>
        </a>


        <a href="/api/episodes/263" target="blanck" class="episode_card_link">
                <div class="episode_card">
                        <img class="episode_image" src="/img/episodes/263.jpg" alt="Avatar">
                        <p class="episode_number">
                                <b>Episode: 263</b>
                        </p>
                        <p class="episode_name">
                                <b>Name: Tweek x Craig</b>
                        </p>
                        <div class="episode_description">
                                <p class="episode_description_text">
                                        <b>The Asian girls in school are drawing dreamy pictures of Tweek and Craig.</b>
                                </p>
                                <p class="episode_status">STATUS: AVALIBLE ON WEBSITE</p>
                                <p class="episode_release">2015-10-28</p>
                        </div>
                </div>
        </a>


        <a href="/api/episodes/325" target="blanck" class="episode_card_link">
                <div class="episode_card">
                        <img class="episode_image" src="/img/episodes/325.jpg" alt="Avatar">
                        <p class="episode_number">
                                <b>Episode: 325</b>
                        </p>
                        <p class="episode_name">
                                <b>Name: Wok is Dead</b>
                        </p>
                        <div class="episode_description">
                                <p class="episode_description_text">
                                        <b>Butters experiences the reality of tariffs when he has to buy a Labubu doll
                                                for his girlfriend’s birthday.</b>
                                </p>
                                <p class="episode_status">STATUS: EXCLUSIVE ON PARAMOUNT PLUS</p>
                                <p class="episode_release">2025-09-03</p>
                        </div>
                </div>
        </a>


        <a href="/api/episodes/303" target="blanck" class="episode_card_link">
                <div class="episode_card">
                        <img class="episode_image" src="/img/episodes/303.jpg" alt="Avatar">
                        <p class="episode_number">
                                <b>Episode: 303</b>
                        </p>
                        <p class="episode_name">
                                <b>Name: Season Finale</b>
                        </p>
                        <div class="episode_description">
                                <p class="episode_description_text">
                                        <b>The citizens of South Park have had enough of Randy and Tegridy Farms and
                                                they just want to lock him up.</b>
                                </p>
                                <p class="episode_status">STATUS: AVALIBLE ON WEBSITE</p>
                                <p class="episode_release">2019-11-06</p>
                        </div>
                </div>
        </a>


        <a href="/api/episodes/200" target="blanck" class="episode_card_link">
                <div class="episode_card">
                        <img class="episode_image" src="/img/episodes/200.jpg" alt="Avatar">
                        <p class="episode_number">
                                <b>Episode: 200</b>
                        </p>
                        <p class="episode_name">
                                <b>Name: 200</b>
                        </p>
                        <div class="episode_description">
                                <p class="episode_description_text">
                                        <b>The town of South Park faces a class action lawsuit as every celebrity
                                                they've ever ridiculed is out for revenge.</b>
                                </p>
                                <p class="episode_status">STATUS: CENSORED</p>
                                <p class="episode_release">2010-04-14</p>
                        </div>
                </div>
        </a>


        <a href="/api/episodes/117" target="blanck" class="episode_card_link">
                <div class="episode_card">
                        <img class="episode_image" src="/img/episodes/117.jpg" alt="Avatar">
                        <p class="episode_number">
                                <b>Episode: 117</b>
                        </p>
                        <p class="episode_name">
                                <b>Name: The Jeffersons</b>
                        </p>
                        <div class="episode_description">
                                <p class="episode_description_text">
                                        <b>The children of South Park are attracted to "Mr. Jefferson," the new neighbor
                                                in town, and Cartman goes out of his way to get "Mr. Jefferson" to love
                                                him best.</b>
                                </p>
                                <p class="episode_status">STATUS: AVALIBLE ON WEBSITE</p>
                                <p class="episode_release">2004-04-21</p>
                        </div>
                </div>
        </a>


</div>

</html>