<html>

<head>
        <script src="/javascript/iframe_content.js"></script>
        <link rel="stylesheet" href="/styles/global/global_website_fonts.css?v=1.1">
        <link rel="stylesheet" href="/styles/desktop/index_iframe_elements/desktop_families_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/tablet/index_iframe_elements/tablet_families_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/mobile/index_iframe_elements/mobile_families_iframe.css?v=1.1">
        <link rel="stylesheet"
                href="/styles/small_mobiles/index_iframe_elements/small_mobile_families_iframe.css?v=1.1">
</head>
<div id="families_grid_container" class="section_grid_container">

        <a href="/api/families/1" target="blanck" class="family_card_link">
                <div class="family_card">
                        <img class="family_image" src="/api/families/1/image/1?size=small" alt="Avatar" />
                        <p class="family_name">
                                <b>The Broflovskis</b>
                        </p>
                        <p class="family_number">
                                <b>ID: 1</b>
                        </p>
                        <div class="family_members_container">
                                <div class="family_member">
                                        <p> - Kyle Broflovski</p>
                                </div>
                                <div class="family_member">
                                        <p> - Sir Ike Moisha Broflovski</p>
                                </div>
                                <div class="family_member">
                                        <p> - Murrey Broflovski</p>
                                </div>
                                <div class="family_member">
                                        <p> - Sheila Broflovski</p>
                                </div>
                                <div class="family_member">
                                        <p> - Gerald Broflovski</p>
                                </div>
                                <div class="family_member">
                                        <p> - Kyle Schwartz</p>
                                </div>
                                <div class="family_member">
                                        <p> - Kyle's Elephant</p>
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/families/3" target="blanck" class="family_card_link">
                <div class="family_card">
                        <img class="family_image" src="/api/families/3/image/1?size=small" alt="Avatar" />
                        <p class="family_name">
                                <b>The Marshs</b>
                        </p>
                        <p class="family_number">
                                <b>ID: 3</b>
                        </p>
                        <div class="family_members_container">
                                <div class="family_member">
                                        <p> - Stanley "Stan" Marsh</p>
                                </div>
                                <div class="family_member">
                                        <p> - Jimbo Kern</p>
                                </div>
                                <div class="family_member">
                                        <p> - Great-Great-Grandpa Marsh</p>
                                </div>
                                <div class="family_member">
                                        <p> - Flo Kimble</p>
                                </div>
                                <div class="family_member">
                                        <p> - Marvin Marsh</p>
                                </div>
                                <div class="family_member">
                                        <p> - Roy</p>
                                </div>
                                <div class="family_member">
                                        <p> - Sharon Marsh</p>
                                </div>
                                <div class="family_member">
                                        <p> - Shelley Marsh</p>
                                </div>
                                <div class="family_member">
                                        <p> - Randy Marsh</p>
                                </div>
                                <div class="family_member">
                                        <p> - Clone Stan Marsh</p>
                                </div>
                                <div class="family_member">
                                        <p> - Sparky</p>
                                </div>
                                <div class="family_member">
                                        <p> - Spookyfish</p>
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/families/20" target="blanck" class="family_card_link">
                <div class="family_card">
                        <img class="family_image" src="/api/families/20/image/1?size=small" alt="Avatar" />
                        <p class="family_name">
                                <b>The Harrisons</b>
                        </p>
                        <p class="family_number">
                                <b>ID: 20</b>
                        </p>
                        <div class="family_members_container">
                                <div class="family_member">
                                        <p> - Amanda Harrison</p>
                                </div>
                                <div class="family_member">
                                        <p> - Dave Harrison</p>
                                </div>
                                <div class="family_member">
                                        <p> - Jenny Harrison</p>
                                </div>
                                <div class="family_member">
                                        <p> - Gary Harrison</p>
                                </div>
                                <div class="family_member">
                                        <p> - Mark Harrison</p>
                                </div>
                                <div class="family_member">
                                        <p> - Mrs. Harrison</p>
                                </div>
                                <div class="family_member">
                                        <p> - Mr. Harrison</p>
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/families/34" target="blanck" class="family_card_link">
                <div class="family_card">
                        <img class="family_image" src="/api/families/34/image/1?size=small" alt="Avatar" />
                        <p class="family_name">
                                <b>The Stotchs</b>
                        </p>
                        <p class="family_number">
                                <b>ID: 34</b>
                        </p>
                        <div class="family_members_container">
                                <div class="family_member">
                                        <p> - Leopold "Butters" Stotch</p>
                                </div>
                                <div class="family_member">
                                        <p> - Nellie Stotch</p>
                                </div>
                                <div class="family_member">
                                        <p> - Bud Stotch</p>
                                </div>
                                <div class="family_member">
                                        <p> - Grandma Stotch</p>
                                </div>
                                <div class="family_member">
                                        <p> - Linda Stotch</p>
                                </div>
                                <div class="family_member">
                                        <p> - Stephen Willis Stotch</p>
                                </div>
                                <div class="family_member">
                                        <p> - Chaos Hamsters</p>
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/families/24" target="blanck" class="family_card_link">
                <div class="family_card">
                        <img class="family_image" src="/api/families/24/image/1?size=small" alt="Avatar" />
                        <p class="family_name">
                                <b>The Malkinsons</b>
                        </p>
                        <p class="family_number">
                                <b>ID: 24</b>
                        </p>
                        <div class="family_members_container">
                                <div class="family_member">
                                        <p> - Clark Malkinson</p>
                                </div>
                                <div class="family_member">
                                        <p> - Ellen Malkinson</p>
                                </div>
                                <div class="family_member">
                                        <p> - Scott Malkinson</p>
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/families/48" target="blanck" class="family_card_link">
                <div class="family_card">
                        <img class="family_image" src="/api/families/48/image/1?size=small" alt="Avatar" />
                        <p class="family_name">
                                <b>The Tweaks</b>
                        </p>
                        <p class="family_number">
                                <b>ID: 48</b>
                        </p>
                        <div class="family_members_container">
                                <div class="family_member">
                                        <p> - Richard Tweak</p>
                                </div>
                                <div class="family_member">
                                        <p> - Tweek Tweak</p>
                                </div>
                                <div class="family_member">
                                        <p> - Manuela Tweak</p>
                                </div>
                                <div class="family_member">
                                        <p> - Grandma Tweak</p>
                                </div>

                        </div>
                </div>
        </a>


</div>

</html>