<html>

<head>
        <script src="/javascript/iframe_content.js"></script>
        <link rel="stylesheet" href="/styles/global/global_website_fonts.css">
        <link rel="stylesheet" href="/styles/desktop/index_iframe_elements/desktop_families_iframe.css">
        <link rel="stylesheet" href="/styles/tablet/index_iframe_elements/tablet_families_iframe.css">
        <link rel="stylesheet" href="/styles/mobile/index_iframe_elements/mobile_families_iframe.css">
        <link rel="stylesheet" href="/styles/small_mobiles/index_iframe_elements/small_mobile_families_iframe.css">
</head>
<div id="families_grid_container" class="section_grid_container">
        {{ families_cards | safe }}
</div>

</html>