<html>

<head>
        <script src="/javascript/iframe_content.js"></script>
        <link rel="stylesheet" href="/styles/global/global_website_fonts.css?v=1.1">
        <link rel="stylesheet" href="/styles/desktop/index_iframe_elements/desktop_games_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/tablet/index_iframe_elements/tablet_games_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/mobile/index_iframe_elements/mobile_games_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/small_mobiles/index_iframe_elements/small_mobile_games_iframe.css?v=1.1">
</head>
<div id="games_grid_container" class="section_grid_container">

        <a href="/api/games/19" target="blanck" class="game_card_link">
                <div class="game_card">
                        <img class="game_image" src="/img/games/South_Park_Rally_PS.jpg" alt="Cover">
                        <p class="game_name">
                                <b>South Park Rally</b>
                        </p>
                        <p class="game_release_date">
                                Release Date: 2000-01-05
                        </p>

                        <div class="platforms_grid">
                                <div class="platform_icon">
                                        <img
                                                src="https://images.icon-icons.com/829/PNG/128/Playsystem_icon-icons.com_66601.png">
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/games/20" target="blanck" class="game_card_link">
                <div class="game_card">
                        <img class="game_image" src="/img/games/South_Park_Rally.webp" alt="Cover">
                        <p class="game_name">
                                <b>South Park Rally</b>
                        </p>
                        <p class="game_release_date">
                                Release Date: 2000-02-28
                        </p>

                        <div class="platforms_grid">
                                <div class="platform_icon">
                                        <img src="https://img.icons8.com/?size=100&id=40979&format=png&color=000000">
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/games/21" target="blanck" class="game_card_link">
                <div class="game_card">
                        <img class="game_image" src="/img/games/South_Park_Rally.webp" alt="Cover">
                        <p class="game_name">
                                <b>South Park Rally</b>
                        </p>
                        <p class="game_release_date">
                                Release Date: 2000-01-24
                        </p>

                        <div class="platforms_grid">
                                <div class="platform_icon">
                                        <img src="https://img.icons8.com/?size=100&id=12908&format=png&color=000000">
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/games/22" target="blanck" class="game_card_link">
                <div class="game_card">
                        <img class="game_image" src="/img/games/South_Park_Rally.webp" alt="Cover">
                        <p class="game_name">
                                <b>South Park Rally</b>
                        </p>
                        <p class="game_release_date">
                                Release Date: 2000-07-07
                        </p>

                        <div class="platforms_grid">
                                <div class="platform_icon">
                                        <img src="https://img.icons8.com/?size=100&id=60853&format=png&color=000000">
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/games/2" target="blanck" class="game_card_link">
                <div class="game_card">
                        <img class="game_image" src="/img/games/SouthParkTheGame.jpg" alt="Cover">
                        <p class="game_name">
                                <b>South Park (Videogame)</b>
                        </p>
                        <p class="game_release_date">
                                Release Date: 1999-09-30
                        </p>

                        <div class="platforms_grid">
                                <div class="platform_icon">
                                        <img
                                                src="https://images.icon-icons.com/829/PNG/128/Playsystem_icon-icons.com_66601.png">
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/games/14" target="blanck" class="game_card_link">
                <div class="game_card">
                        <img class="game_image" src="/img/games/SouthPark_game_PC.jpg" alt="Cover">
                        <p class="game_name">
                                <b>South Park (Videogame)</b>
                        </p>
                        <p class="game_release_date">
                                Release Date: 1999-03-01
                        </p>

                        <div class="platforms_grid">
                                <div class="platform_icon">
                                        <img src="https://img.icons8.com/?size=100&id=12908&format=png&color=000000">
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/games/13" target="blanck" class="game_card_link">
                <div class="game_card">
                        <img class="game_image" src="/img/games/Gameboy_Game.webp" alt="Cover">
                        <p class="game_name">
                                <b>South Park (Gameboy Prototype)</b>
                        </p>
                        <p class="game_release_date">
                                Release Date: Not Released
                        </p>

                        <div class="platforms_grid">
                                <div class="platform_icon">
                                        <img
                                                src="https://img.icons8.com/?size=100&id=p4IZ3gBGGvWo&format=png&color=000000">
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/games/28" target="blanck" class="game_card_link">
                <div class="game_card">
                        <img class="game_image" src="/img/games/South_Park_pinball_Videogames.avif" alt="Cover">
                        <p class="game_name">
                                <b>South Park Pinball (Re-realese)</b>
                        </p>
                        <p class="game_release_date">
                                Release Date: 2023-10-12
                        </p>

                        <div class="platforms_grid">
                                <div class="platform_icon">
                                        <img src="https://img.icons8.com/?size=100&id=12908&format=png&color=000000">
                                </div>
                                <div class="platform_icon">
                                        <img
                                                src="https://img.icons8.com/?size=100&id=08OaSZHbTdVv&format=png&color=000000">
                                </div>
                                <div class="platform_icon">
                                        <img
                                                src="https://img.icons8.com/?size=100&id=sHyMKmljmlSj&format=png&color=000000">
                                </div>
                                <div class="platform_icon">
                                        <img
                                                src="https://img.icons8.com/?size=100&id=J2arZBwbzFfE&format=png&color=000000">
                                </div>
                                <div class="platform_icon">
                                        <img
                                                src="https://img.icons8.com/?size=100&id=LqoHSNcZYyaZ&format=png&color=000000">
                                </div>
                                <div class="platform_icon">
                                        <img
                                                src="https://img.icons8.com/?size=100&id=E3bXXtS09hA1&format=png&color=000000">
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/games/17" target="blanck" class="game_card_link">
                <div class="game_card">
                        <img class="game_image" src="/img/games/Chef_Luv_Shack.jpg" alt="Cover">
                        <p class="game_name">
                                <b>South Park: Chef's Luv Shack</b>
                        </p>
                        <p class="game_release_date">
                                Release Date: 1999-11-16
                        </p>

                        <div class="platforms_grid">
                                <div class="platform_icon">
                                        <img
                                                src="https://images.icon-icons.com/829/PNG/128/Playsystem_icon-icons.com_66601.png">
                                </div>
                                <div class="platform_icon">
                                        <img src="https://img.icons8.com/?size=100&id=40979&format=png&color=000000">
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/games/10" target="blanck" class="game_card_link">
                <div class="game_card">
                        <img class="game_image" src="/img/games/StickOfTruth.png" alt="Cover">
                        <p class="game_name">
                                <b>South Park: The Stick of Truth</b>
                        </p>
                        <p class="game_release_date">
                                Release Date: 2014-03-04
                        </p>

                        <div class="platforms_grid">
                                <div class="platform_icon">
                                        <img src="https://img.icons8.com/?size=100&id=12908&format=png&color=000000">
                                </div>
                                <div class="platform_icon">
                                        <img
                                                src="https://icons.iconarchive.com/icons/sykonist/console/128/Xbox-360-icon.png">
                                </div>
                                <div class="platform_icon">
                                        <img src="https://img.icons8.com/?size=100&id=68102&format=png&color=000000">
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/games/27" target="blanck" class="game_card_link">
                <div class="game_card">
                        <img class="game_image" src="/img/games/south-park-the-fractured-but-whole-artwork.jpg"
                                alt="Cover">
                        <p class="game_name">
                                <b>South Park: The Fractured but Whole</b>
                        </p>
                        <p class="game_release_date">
                                Release Date: 2017-10-17
                        </p>

                        <div class="platforms_grid">
                                <div class="platform_icon">
                                        <img src="https://img.icons8.com/?size=100&id=12908&format=png&color=000000">
                                </div>
                                <div class="platform_icon">
                                        <img
                                                src="https://img.icons8.com/?size=100&id=08OaSZHbTdVv&format=png&color=000000">
                                </div>
                                <div class="platform_icon">
                                        <img
                                                src="https://img.icons8.com/?size=100&id=sHyMKmljmlSj&format=png&color=000000">
                                </div>

                        </div>
                </div>
        </a>


        <a href="/api/games/33" target="blanck" class="game_card_link">
                <div class="game_card">
                        <img class="game_image" src="/img/games/Snow_Day.jpg" alt="Cover">
                        <p class="game_name">
                                <b>South Park: Snow Day!</b>
                        </p>
                        <p class="game_release_date">
                                Release Date: 2024-03-26
                        </p>

                        <div class="platforms_grid">
                                <div class="platform_icon">
                                        <img
                                                src="https://img.icons8.com/?size=100&id=LqoHSNcZYyaZ&format=png&color=000000">
                                </div>
                                <div class="platform_icon">
                                        <img
                                                src="https://img.icons8.com/?size=100&id=J2arZBwbzFfE&format=png&color=000000">
                                </div>
                                <div class="platform_icon">
                                        <img src="https://img.icons8.com/?size=100&id=12908&format=png&color=000000">
                                </div>
                                <div class="platform_icon">
                                        <img
                                                src="https://img.icons8.com/?size=100&id=E3bXXtS09hA1&format=png&color=000000">
                                </div>

                        </div>
                </div>
        </a>


</div>

</html>