<html>

<head>
        <link rel="stylesheet" href="./styles/style.css">
        <title>
                South Park API (Develop Version)
        </title>
        <nav class="navegation_menu">
                <a href="/" class="menu_logo">
                        <img id="logo" src="/img/website/logo.png" alt="logo">
                </a>
                <a href="#" class="menu_item">About</a>
                <a href="/api/redoc" class="menu_item">Docs</a>
        </nav>
</head>

<body>
        <h1 class="main_title">
                South Park API (Development Version)
        </h1>
        <h2 class="developer">
                This website is: {{base_url}}
        </h2>
        <h3>
                Characters:
        </h3>
        <div>
                <div class="character_grid_container">
                        {{ character_cards | safe }}
                </div>
        </div>
</body>

</html>