<html>

<head>
        <script src="/javascript/iframe_content.js"></script>
        <link rel="stylesheet" href="/styles/global/global_website_fonts.css?v=1.1">
        <link rel="stylesheet" href="/styles/desktop/index_iframe_elements/desktop_songs_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/tablet/index_iframe_elements/tablet_songs_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/mobile/index_iframe_elements/mobile_songs_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/small_mobiles/index_iframe_elements/small_mobile_songs_iframe.css?v=1.1">
</head>
<div id="songs_grid_container" class="section_grid_container">

        <div class="song_card">
                <a href="/api/songs/1" target="blanck" class="song_card_link">
                        <img class="album_image" src="/img/albums/covers/Chef_Aid_The_South_Park_Album.webp"
                                alt="Cover">
                        <p class="song_name">
                                <b>South Park Theme</b>
                        </p>
                        <p class="album_name_in_song_menu">
                                Album: Chef Aid: The South Park Album
                        </p>
                        <p class="album_release">
                                Release Date: 1998-12-08
                        </p>
                </a>


                <a href="https://music.youtube.com/watch?v=b7uJyw6eXzg" class="play_button">
                        <div>
                                Play ▶
                        </div>
                </a>

        </div>

        <div class="song_card">
                <a href="/api/songs/30" target="blanck" class="song_card_link">
                        <img class="album_image" src="/img/albums/covers/South_Park_Bigger_Longer_and_Uncut.webp"
                                alt="Cover">
                        <p class="song_name">
                                <b>La Resistance</b>
                        </p>
                        <p class="album_name_in_song_menu">
                                Album: South Park: Bigger, Longer & Uncut (Soundtrack)
                        </p>
                        <p class="album_release">
                                Release Date: 1999-06-22
                        </p>
                </a>


                <div class="not_available_button">
                        Not Available
                </div>

        </div>

        <div class="song_card">
                <a href="/api/songs/50" target="blanck" class="song_card_link">
                        <img class="album_image" src="/img/albums/covers/Mr_Hankey's_Christmas_Classics.webp"
                                alt="Cover">
                        <p class="song_name">
                                <b>It Happened in Sun Valley</b>
                        </p>
                        <p class="album_name_in_song_menu">
                                Album: Mr. Hankey's Christmas Classics
                        </p>
                        <p class="album_release">
                                Release Date: 1999-11-23
                        </p>
                </a>


                <a href="https://music.youtube.com/watch?v=eCW8alDQ9m8" class="play_button">
                        <div>
                                Play ▶
                        </div>
                </a>

        </div>

        <div class="song_card">
                <a href="/api/songs/63" target="blanck" class="song_card_link">
                        <img class="album_image" src="/img/albums/covers/San_Diego.webp" alt="Cover">
                        <p class="song_name">
                                <b>San Diego</b>
                        </p>
                        <p class="album_name_in_song_menu">
                                Album: San Diego
                        </p>
                        <p class="album_release">
                                Release Date: 2012-08-21
                        </p>
                </a>


                <a href="https://music.youtube.com/watch?v=9VPxmXPFOvY" class="play_button">
                        <div>
                                Play ▶
                        </div>
                </a>

        </div>

        <div class="song_card">
                <a href="/api/songs/27" target="blanck" class="song_card_link">
                        <img class="album_image" src="/img/albums/covers/South_Park_Bigger_Longer_and_Uncut.webp"
                                alt="Cover">
                        <p class="song_name">
                                <b>Kyle's Mom's a Bitch (Movie version)</b>
                        </p>
                        <p class="album_name_in_song_menu">
                                Album: South Park: Bigger, Longer & Uncut (Soundtrack)
                        </p>
                        <p class="album_release">
                                Release Date: 1999-06-22
                        </p>
                </a>


                <div class="not_available_button">
                        Not Available
                </div>

        </div>

        <div class="song_card">
                <a href="/api/songs/68" target="blanck" class="song_card_link">
                        <img class="album_image" src="/img/albums/covers/South_Park_25th_Aniversary_Concert.webp"
                                alt="Cover">
                        <p class="song_name">
                                <b>Jackin' It In San Diego (Live)</b>
                        </p>
                        <p class="album_name_in_song_menu">
                                Album: South Park The 25th Anniversary Concert
                        </p>
                        <p class="album_release">
                                Release Date: 2022-09-25
                        </p>
                </a>


                <a href="https://music.youtube.com/watch?v=lKgU8-ckkdI" class="play_button">
                        <div>
                                Play ▶
                        </div>
                </a>

        </div>

</div>

</html>