<html>

<head>
        <script src="/javascript/iframe_content.js"></script>
        <link rel="stylesheet" href="/styles/global/global_website_fonts.css">
        <link rel="stylesheet" href="/styles/desktop/index_iframe_elements/desktop_specials_iframe.css">
        <link rel="stylesheet" href="/styles/tablet/index_iframe_elements/tablet_specials_iframe.css">
        <link rel="stylesheet" href="/styles/mobile/index_iframe_elements/mobile_specials_iframe.css">
        <link rel="stylesheet" href="/styles/small_mobiles/index_iframe_elements/small_mobile_specials_iframe.css">
</head>
<div id="specials_grid_container" class="section_grid_container">
        {{specials_cards | safe}}
</div>

</html>