html>

<head>
        <script src="/javascript/iframe_content.js"></script>
        <link rel="stylesheet" href="/styles/global/global_website_fonts.css?v=1.1">
        <link rel="stylesheet" href="/styles/desktop/index_iframe_elements/desktop_specials_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/tablet/index_iframe_elements/tablet_specials_iframe.css?v=1.1">
        <link rel="stylesheet" href="/styles/mobile/index_iframe_elements/mobile_specials_iframe.css?v=1.1">
        <link rel="stylesheet"
                href="/styles/small_mobiles/index_iframe_elements/small_mobile_specials_iframe.css?v=1.1">
</head>
<div id="specials_grid_container" class="section_grid_container">
        <div class="special_grid2">
                <a href="/api/specials/1" target="blanck" class="special_card_link">
                        <div class="special_card">
                                <img class="special_poster" src="/img/specials/South_Park_Post_Covid.jpg" alt="Cover">
                                <p class="special_name">
                                        <b>South Park: Post Covid</b>
                                </p>

                                <p class="release_date">
                                        Release Date: 2021-11-25
                                </p>

                                <p class="special_description">
                                        In SOUTH PARK: POST COVID, we’ll find out the answer to the question: what
                                        happened to the children who lived through the pandemic? Stan, Kyle, Cartman and
                                        Kenny survived, but will never be the same post COVID.
                                </p>

                        </div>
                </a>


                <a href="/api/specials/2" target="blanck" class="special_card_link">
                        <div class="special_card">
                                <img class="special_poster"
                                        src="/img/specials/South_Park_Post_Covid_The_Return_of_Covid.jpg" alt="Cover">
                                <p class="special_name">
                                        <b>South Park: Post Covid: The Return of Covid</b>
                                </p>

                                <p class="release_date">
                                        Release Date: 2021-12-16
                                </p>

                                <p class="special_description">
                                        If Stan, Kyle and Cartman could just work together, they could go back in time
                                        to make sure Covid never happened and save Kenny's life. In SOUTH PARK: POST
                                        COVID: THE RETURN OF COVID, traveling back to the past seems to be the easy
                                        answer until they meet Victor Chaos.
                                </p>

                        </div>
                </a>

        </div>
        <div class="special_grid2">
                <a href="/api/specials/3" target="blanck" class="special_card_link">
                        <div class="special_card">
                                <img class="special_poster" src="/img/specials/South_Park_The_Streaming_Wars.png"
                                        alt="Cover">
                                <p class="special_name">
                                        <b>South Park: The Streaming Wars</b>
                                </p>

                                <p class="release_date">
                                        Release Date: 2022-06-01
                                </p>

                                <p class="special_description">
                                        In South Park: The Streaming Wars, Cartman locks horns with his mom in a battle
                                        of wills while an epic conflict unfolds that threatens South Park's very
                                        existence.
                                </p>

                        </div>
                </a>


                <a href="/api/specials/4" target="blanck" class="special_card_link">
                        <div class="special_card">
                                <img class="special_poster" src="/img/specials/South_Park_The_Streaming_Wars_2.jpg"
                                        alt="Cover">
                                <p class="special_name">
                                        <b>South Park: The Streaming Wars Part 2</b>
                                </p>

                                <p class="release_date">
                                        Release Date: 2022-07-13
                                </p>

                                <p class="special_description">
                                        In South Park: The Streaming Wars Part 2, a drought has brought the town of
                                        South Park to the brink of disaster.
                                </p>

                        </div>
                </a>

        </div>
        <div class="special_grid3">
                <a href="/api/specials/5" target="blanck" class="special_card_link">
                        <div class="special_card">
                                <img class="special_poster" src="/img/specials/South_Park_Joining_the_Panderverse.jpg"
                                        alt="Cover">
                                <p class="special_name">
                                        <b>South Park: Joining the Panderverse</b>
                                </p>

                                <p class="release_date">
                                        Release Date: 2023-10-27
                                </p>

                                <p class="special_description">
                                        In South Park: Joining the Panderverse, Cartman's deeply disturbing dreams
                                        portend the end of the life he knows and loves. The adults in South Park are
                                        also wrestling with their own life decisions as the advent of AI is turning
                                        their world upside down.
                                </p>

                        </div>
                </a>


                <a href="/api/specials/6" target="blanck" class="special_card_link">
                        <div class="special_card">
                                <img class="special_poster" src="/img/specials/South_Park_Not_Suitable_For_Children.jpg"
                                        alt="Cover">
                                <p class="special_name">
                                        <b>South Park (Not Suitable For Children)</b>
                                </p>

                                <p class="release_date">
                                        Release Date: 2023-12-20
                                </p>

                                <p class="special_description">
                                        After it's discovered that a teacher at South Park Elementary has an OnlyFans
                                        page, Randy is compelled to take a closer look at the seedy underbelly of the
                                        world of on-line influencers.
                                </p>

                        </div>
                </a>


                <a href="/api/specials/7" target="blanck" class="special_card_link">
                        <div class="special_card">
                                <img class="special_poster" src="/img/specials/South_Park_The_End_of_Obesity.jpg"
                                        alt="Cover">
                                <p class="special_name">
                                        <b>South Park: The End Of Obesity</b>
                                </p>

                                <p class="release_date">
                                        Release Date: 2024-05-24
                                </p>

                                <p class="special_description">
                                        The advent of new weight loss drugs has a huge impact on everyone in South Park.
                                        When Cartman is denied access to the life-changing medicine, the kids jump into
                                        action.
                                </p>

                        </div>
                </a>

        </div>
</div>

</html>