@media screen and (min-width: 1024px) {
        * {
                margin: 0;
        }

        #character_grid_container {
                display: grid;
                grid-template-columns: auto auto auto auto;
                border-style: solid;
                border-width: 3px;
                border-color: gray;
                border-radius: 10px;
                margin: 25px;
                box-shadow: 10px 10px 10px 1px rgba(0.2, 0.2, 0.3, 0.4);

                margin-top: 12px;
        }

        .character_background {
                background-image: url("/img/website/Character_Background_in_Website.png");
                display: flex;
                justify-content: center;
                height: 20vw;
                border-radius: 5px;
                background-size: cover;

        }

        .character_card {
                margin: 5%;
                border-radius: 5px;
                /*! border-color: black; */
                /*! border-style: solid; */
                border: 3px black solid;
                align-self: end;
                box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
        }

        .character_card:hover {
                margin: 5%;
                border-radius: 5px;
                border: 4px black solid;
                align-self: end;
                box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.8);
        }

        .character_image {
                height: 90%;
                padding-left: 4px;
                padding-right: 4px;
                align-self: end;
        }

        p.character_name {
                padding-top: 0.5vh;
                display: flex;
                justify-content: space-between;
                margin-right: 10px;
        }

        .character_card p {
                /* min, preferred, max */
                font-size: clamp(5px, 1.1vw, 25px);
                margin-left: 5%;
                padding-top: 1%;
                margin-right: 10px;
                line-height: 1.4vw;
        }

        a.character_card_link {
                text-decoration: none;
                color: black;
                width: 23.5vw;
        }
}