@media screen and (min-width: 1024px) {
        * {
                margin: 0;
        }

        #episodes_grid_container {
                display: grid;
                grid-template-columns: auto auto;
                border-style: solid;
                border-width: 3px;
                border-color: gray;
                border-radius: 10px;
                margin: 25px;
                box-shadow: 10px 10px 10px 1px rgba(0.2, 0.2, 0.3, 0.4);

                margin-top: 12px;
                justify-items: center;
        }

        .episode_image {
                width: 40vw;
                border-radius: 8px;
        }

        .episode_card_link {
                width: 40vw;
                border-width: 3px;
                border-style: solid;
                border-radius: 8px;
                text-decoration: none;
                color: black;
                margin-top: 1vh;
                margin-bottom: 1vh;
                box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
        }

        .episode_card_link:hover {
                width: 40vw;
                border-width: 4px;
                border-style: solid;
                border-radius: 8px;
                text-decoration: none;
                color: black;
                margin-top: 1vh;
                margin-bottom: 1vh;
                box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.8);
        }

        .episode_card {
                width: 100%;
        }

        .episode_card p {
                margin-top: 1.5vw;
                font-family: "OpenSans-Regular";

                font-size: 1.2vw;
        }

        .episode_name {
                margin-left: 1vw;
        }

        .episode_number {
                margin-left: 1vw;
        }

        .episode_release {
                position: relative;
                width: fit-content;
                margin-left: auto;
                margin-top: 10vh;
                margin-right: 1vw;
        }

        .episode_description_text {
                height: 7vw;
                margin-left: 2vw;
                margin-right: 1vw;
        }

        .episode_status {
                margin-left: 1vw;
        }
}