@media screen and (min-width: 641px) and (max-width: 1023px) {
        * {
                margin: 0;
        }
        #version_text{
                display: none
        }

        #try_example {
                font-family: "OpenSans-Bold";
                text-align: center;
                font-size: 7vw;
        }

        #json_response {
                align-self: center;
                margin: auto;
                width: 90%;
                background-color: #f7f7f7;
                color: black;
                /*! height: 40vh; */
                display: block;
                font-size: 15px;
                border-radius: 10px;
        }

        div.submenu_button {
                border-radius: 16px;
                color: white;
                font-family: "OpenSans-Bold";
                width: 85%;
                align-self: center;
                font-size: 3.5vw;
                text-align: center;
                background-color: black;
        }

        div.change_submenu_buttons {
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                justify-items: center;
        }

        div.submenu_button {
                border-radius: 16px;
                color: white;
                font-family: "OpenSans-Bold";
                width: 40vw;
                align-items: center;
                font-size: 4vw;
                text-align: center;
                background-color: black;
                height: 8vw;
                justify-content: center;
                display: flex;
        }

        div.change_submenu_buttons {
                display: grid;
                grid-auto-columns: auto auto;
                margin-top: 5vh;
                gap: 3vw;
                justify-content: center;
                align-items: center;
        }
                #loading_bar{
                display: flex;
                margin-top: 5vw;
                 margin-bottom: 5vw;
                width: 60%;
                margin-left: auto;
                margin-right: auto;
        }

}